body {
    font-family: Arial;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #333;
    text-align: left;
    font-size: large;
}
.day {
    margin-bottom: 20px;
}
.day h2 {
    background-color: #2B2E43;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    display: inline;
    display: flex;
}
.lesson {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.lesson .time {
    width: 20%;
    font-weight: bold;
}
.lesson .details {
    width: 60%;
}
.lesson .room {
    width: 20%;
    text-align: right;
}

.przekreslona {
    text-decoration: line-through;
    opacity: 0.7; /* Opcjonalnie: zmniejszenie widoczności dla efektu "odwołanej" lekcji */
}

.date {
    display: inline;
}

.poniedzialek {
    float: right;
    display: flex;
    justify-content: center;
    margin-left: 58%;
}

.wtorek {
    float: right;
    display: flex;
    justify-content: center;
    margin-left: 67%;
}
