body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #333;
    text-align: left;
    font-size: 20px;
}
.day {
    margin-bottom: 20px;
}
.day h2 {
    background-color: #2B2E43;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    display: inline;
    display: flex;
}
.lesson {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    position: relative;
}
.lesson .time {
    width: 20%;
    font-size: 14px;
}
.lesson .details {
    width: 130%;
}
.lesson .room {
    width: 20%;
    text-align: right;
}
.odwolana {
    font-weight: bold;
    font-size: 14px;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 2px;
    right: 958px;
}
.date {
    display: inline;
}
.poniedzialek {
    float: right;
    display: flex;
    justify-content: center;
    margin-left: 85%;
}
.wtorek {
    float: right;
    display: flex;
    justify-content: center;
    margin-left: 88%;
}

.sroda {
    float: right;
    display: flex;
    justify-content: center;
    margin-left: 88%
}

.czwartek {
    float: right;
    display: flex;
    justify-content: center;
    margin-left: 88%
}

.piatek {
    float: right;
    display: flex;
    justify-content: center;
    margin-left: 88%
}
